# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


master

admin
no editar productos
agregar productos si
agregar clientes si
no editar clientes
si nuevas cotizaciones(reportes)
no modificar cotizaciones anteriores
no editar herramientas 
si agregar herramientas

ventas
Solo cotizaciones
No editar plantillas ni guardar nueva ni actualizar
Agenda compelta sin asignar
clientes si agregar (solo editar, no eliminar)

bodega
Inventario (no editar producto, no agreagr)
Agenda completa sin asignar
Herramientas si no editar ni eliminar
Asignaciones

bodega 2
Inventario (no editar producto, no agreagr)
Agenda completa sin asignar
Herramientas si no editar ni eliminar
Asignaciones